<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car list</title>
    <link rel="stylesheet" th:href="@{/homestyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="menubar">
    <a href="/home"><button class="btn"><i class="fa fa-home"></i> Home</button></a>
    <a href="/users/loggedInUser"><button class="btn"><i class="fa fa-male"></i> User</button></a>
    <b class="active">List of cars</b>
</div>
<div>
    <table id="t02">


    </table>
</div>
<table style="padding:10px" border="1.5px" width=100% bgcolor="black">
    <thead>
    <tr bgcolor="#a9a9a9">
        <th width="170"> License plate</th>
        <th width="170" height="30px"> Brand</th>
        <th width="170"> Model</th>
        <th width="170"> Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${cars.empty}">
        <td colspan="2"> No Car Available</td>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.licensePlate}"></td>
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td>
            <form action="http://localhost:8080/cars/details">
                <input type="hidden" th:name="carId" th:value="${car.carId}">
<!--                <button type="submit">Go to details</button>-->
                <form><input type=submit value="Go to details" style="width:100%"></form>
            </form>
        </td>

    </tr>
</table>
</body>
</html>